/* .top_div {
     width: 50%;
     height: 10%;
     margin-left: 37.5%;
     margin-top: 2%;
 }

 .top_div input {
     width: 22.1%;
 }
  
 .border {
     width: 25%;
     margin-left: 37.5%;
     margin-top: 4%;
 }*/


/* #myTable {
     overflow-y: hidden;
     width: 100%;
 }
 */

.my-butt-css {
    color: #fff !important;
    background-color: #000000 !important; 
}

#del_words {
     margin-left: 20px;
}
 